{% extends 'base.html' %}
  {% load static %}
{%block content%}
<head>
	
</head>
<body>
<a href="{% url 'home' %}">powrót</a></p>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{%url 'home' %}">Księgarnia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
     <form id="searchForm" action="{%url 'search' %}" method="post">
    {% csrf_token %}
    <input id="search" type="text" name="search" >
     <input type="submit" value="Szukaj">
  </form>
      <div class="collapse navbar-collapse" id="navbarResponsive">
       
        <ul class="navbar-nav ml-auto">
     {% if user.is_authenticated %}   
    <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static "profileicon.png" %}" alt="Profile Icon" height="42" width="42">

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         {%  if request.user.is_superuser  %}
          <a class="dropdown-item" href="{% url 'addbook' %}">Dodaj Książke</a>
         {% else %}
          <span class="dropdown-item-text">Saldo: {{request.user.customer.money}}</span>
           {% endif %}
          <a class="dropdown-item" href="{% url 'orders' %}">Zamówienia Użytkownika</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj</a>
        </div>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static "carticon.png" %}" alt="Cart Icon" height="42" width="42">
          ({{cartnumber}})
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          {% for cartitem in cart %}
            
          <a class="dropdown-item" href="{% url 'book' cartitem.book_id %}"> <img  src="{{ cartitem.image.url }}" width="20" height="20" alt="">  {{cartitem.title}} {{cartitem.price}}</a>

            {% endfor %}
             <h6 class="dropdown-header">Łączna cena:{{totalprice}}</h6>
             <a href="{% url 'summary' %}" class="btn btn-warning podsumowanie  ">Podsumowanie</a>
        </div>
       
      </li>
      {%else%}
      <p> <a href="{% url 'register' %}" class="btn btn-primary ">Rejestracja</a>|<a href="{% url 'login' %}" class="btn btn-primary">Login</a></p>
      {% endif %}

        </ul>
      

    
      </div>
     
    </div>
  </nav>
  <div class="container">
<div id="accordion">
	{% for orderitem in orders %}
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#order{{orderitem.order_id}}" aria-expanded="true" aria-controls="collapseOne">
          Zamówienie numer #{{orderitem.order_id}}
        </button>
      </h5>
    </div>

    <div id="order{{orderitem.order_id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      	<br>
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Id książki</th>
      <th scope="col">Tytuł</th>
      <th scope="col">Cena</th>
    </tr>
  </thead>
        
				
  <tbody>
    {%for books in orderitem.books.all%}
    <tr>
      <th scope="row">{{books.book_id}}</th>
      <td>{{books.title}}</td>
      <td>  {{books.price}} PLN</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
				<br>
				

      </div>
    </div>
  </div>
 {% endfor %}
  </div>
</div>
</div>
</body>

{%endblock content%}