{% extends 'base.html' %}
{% load static %}
{%block content%}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Podsumowanie Zakupów</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produkt</th>
                            <th scope="col">Dostępność</th>
                            <th scope="col" class="text-center"></th>
                            <th scope="col" class="text-right">Cena</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for cartitem in cart %}
								
				
			
	
                        <tr>
                            <td><img src="{{cartitem.image.url}}" height="50" width="50"/> </td>
                            <td>{{cartitem.title}}</td>
                            <td>Dostępny</td>
                            <td></td>
                            <td class="text-right">{{cartitem.price}} PLN</td>
                            <td class="text-right"><a class="btn btn-sm btn-danger" href={% url 'add_to_cart' cartitem.book_id %}><i class="fa fa-trash"></i> </a> </td>
                        </tr>
                        	{% endfor %}
                       
                      
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Suma</strong></td>
                            <td class="text-right"><strong>{{totalprice}} PLN</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a class="btn btn-block btn-light" href="{% url 'home' %}">Kontynuuj zakupy</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a class="btn btn-lg btn-block btn-success text-uppercase" href="{% url 'addorder' %}">Potwierdź</a>
                </div>
            </div>
        </div>
    </div>
</div>



  {% for message in messages %}
     <div class="alert alert-danger" role="alert">
{{ message }}

{%endfor%}






      {%endblock content%}